#inputEmail{
	margin-bottom: 5px;
}

#inputPassword{
	margin-bottom: 5px;
}

body{
	background-color: #4F4F4F;
}

#login{
   text-align: center;
   display: inline-block;
	width: 30%;
}

h1{
	margin-top: 10%;
	color: #ccffa3;
}

#lh2{
	color: white;
}

#button{
	margin-bottom: 5px;
}

p{
	color: #DEDEDE;
}